<header class="navbar navbar-expand navbar-dark bg-dark flex-column flex-md-row bd-navbar">
    <a class="navbar-brand mr-0 mr-md-2" href="#">
        <img src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="36" height="36">
    </a>
    <div class="navbar-nav-scroll">
        <ul class="navbar-nav bd-navbar-nav flex-row">
            <li class="nav-item">
                <a href="#" class="nav-link">Home</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Trading</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">Prices</a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link">News</a>
            </li>
        </ul>
    </div>
</header>
