
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <script src="bootstrap/dist/js/bootstrap.js"></script>
        <link href="bootstrap/dist/css/bootstrap.css" type="text/css" rel="stylesheet" />
        <link href="css/style.css" type="text/css" rel="stylesheet" />
    </head>
    <body>
        {{> header}}
        <h1>Register page</h1>
        <!-- register form -->
        <form action="/register" method="POST">
            <!-- User info -->
            <label for="giv_name">Given Name: </label>
            <input id="giv_name" type="text" name="giv_name" value=""> <br>

            <label for="mid_name">Middle Name: </label>
            <input id="mid_name" type="text" name="mid_name" value=""> <br>

            <label for="fam_name">Family Name: </label>
            <input id="fam_name" type="text" name="fam_name" value=""> <br>

            <label for="phone">Phone: </label>
            <input id="phone" type="text" name="phone" value=""> <br>

            <label for="socialIdNum">ID Number: </label>
            <input id="socialIdNum" type="text" name="socialIdNum" value=""> <br>

            <label for="bankName">Bank Name: </label>
            <input id="bankName" type="text" name="bankName" value=""> <br>

            <label for="bankAccountNum">Bank Account: </label>
            <input id="bankAccountNum" type="text" name="bankAccountNum" value=""> <br>

            <label for="bankAccountName">Bank Account Name: </label>
            <input id="bankAccountName" type="text" name="bankAccountName" value=""> <br>

            <label for="bankCity">Bank City: </label>
            <input id="bankCity" type="text" name="bankCity" value=""> <br>

            <label for="email">Email: </label>
            <input id="email" type="text" name="email" value=""> <br>

            <label for="password">Password: </label>
            <input id="password" type="password" name="password" value=""> <br>
            <label for="password">Retype Password: </label>
            <input id="password" type="password" name="password" value=""> <br>

            <!-- Submit button -->
            <input type="submit" name="submit" value="OK">
        </form>

        {{> footer}}
    </body>
</html>
